.App {
  text-align: center;
}

.groups-container {
  padding: 0 16px;
  margin: 16px auto;
}

.light-group {
  min-height: 10vh;
}

@media (min-width: 768px) {
  /* future styling */
}

@media (min-width: 992px) {
  .groups-container {
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
  .groups-container {
    max-width: 80%;
  }
}
