.App {
  text-align: center;
}

.groups-container {
  padding: 0 16px;
  margin: 16px auto;
}

/* #add-group-button {
  position: fixed;
  bottom: 5%;
  right: 2.5%;
  z-index: 5;
} */

.light-group {
  height: 15vh;
  position: relative;
}

@media (max-width: 991px) {
  #add-group-button {
    top: 2.5%;
  }
}

@media (min-width: 992px) {
  .groups-container {
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
  .groups-container {
    max-width: 80%;
  }
}
